.add-task-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-task-modal-content {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    max-width: 400px;
  }
